*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-field{
    background-color: rgb(43, 43, 43);
}

.Match5{
    transition: opacity 0.5s ease 0.5s;
}

.back{
    position: absolute;
    top: 1%;
    left: 1%;
}

section{
    height: 100vh;
    font-family: 'Candara', sans-serif;
}

.score{
    color: rgb(255, 249, 159);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}


.rules-icon{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: bisque;
    border-radius: 100px;
    align-items: center;
}
.rules-icon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 100%;
}

.rules-text{
    height: 450px;
    width: 450px;
    padding: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: bisque;
    border-radius: 3px;
    border-style: double;
    border-color: rgb(27, 27, 27);
    border-width: 1px;
    align-items: center;
    font-family: 'Candara', sans-serif;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    pointer-events: none;
}

.rules-icon:hover {
    background-color: rgb(27, 27, 27);
}

.match-5 button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    background-color: rgb(255, 249, 159);
    border-radius: 3px;
    cursor: pointer;
}

.match-5{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    transition: opacity 0.5s ease 0.5s;
}

.match-5 h2{
    font-weight: 500;
}

.options{
    padding-top: 10%;
}

.winner{
    color: bisque;
    text-align: center;
    font-size: 50px;
}

.hands, 
.options{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.player-hand{
    transform: rotateY(180deg);
}


@media (max-width: 1110px){
    .match-5 button{
        width: 125px;
        font-size: 17,5px;
    }
    
}

@media (max-width: 915px){
    .match-5 button{
        width: 150px;
    }
    .lizard{
        position: absolute;
        bottom: -25%;
        left: 20%;
    }
    .spock{
        position: absolute;
        bottom: -25%;
        right: 20%;
    }
}

@media (max-width: 720px){
    .match-5 button{
        width: 125px;
        font-size: 17,5px;
    }
    .lizard{
        position: absolute;
        bottom: -25%;
        left: 17%;
    }
    .spock{
        position: absolute;
        bottom: -25%;
        right: 17%;
    }
    .rules-text{
        width: 80%;
    }
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

div.fadeInAlmost{
    opacity: 90%;
    pointer-events: all;
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    10%{
        transform: rotateY(180deg) translateY(-50px);
    }
    20%{
        transform: rotateY(180deg) translateY(0px);
    }
    30%{
        transform: rotateY(180deg) translateY(-50px);
    }
    40%{
        transform: rotateY(180deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-50px);
    }
    60%{
        transform: rotateY(180deg) translateY(0px);
    }
    70%{
        transform: rotateY(180deg) translateY(-50px);
    }
    80%{
        transform: rotateY(180deg) translateY(0px);
    }
    90%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-50px);
    }
    20%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-50px);
    }
    40%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    60%{
        transform: translateY(0px);
    }
    70%{
        transform: translateY(-50px);
    }
    80%{
        transform: translateY(0px);
    }
    90%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}